h1 {
  font-size: 38px;
  text-transform: capitalize;
  margin: 0 0 8px 0;
}
h2 {
  font-size: 15px;
  font-weight: bold;
}
footer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
.container {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  display: block;
  margin: 0 auto;
  padding: 0 0 0 0;
  max-width: 600px;
  min-width: 600px;
}
.card {
  display: block;
  margin: 25px 0 10px 0;
  padding: 15px 20px 20px 20px;
  max-width: 600px;
}
.search-button {
  line-height: 1;
  padding: 16px auto;
  background-color: rgb(56, 87, 126);
}
.content {
  display: block;
  margin: 10px 20px 0 20px;
}
.current-temp {
  text-align: right;
}
.temp-conversion {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: -12px;
  color: rgb(30, 30, 159);
}
#celcius-button,
#fahrenheit-button {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(30, 30, 159);
  padding: 0 0 0 0;
  border: none;
}
.todays-forecast {
  text-align: center;
}
.todays-icon {
  color: rgb(56, 87, 126);
}
.five-day-forecast {
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
}
.forecast-icon {
  color: rgb(68, 105, 153);
  font-size: 26px;
  margin: 5px;
}
