h1 {
  font-size: 38px;
  text-transform: capitalize;
  margin: 30px 0 20px 0;
}
h2 {
  font-size: 15px;
  font-weight: bold;
}
footer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
.container {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  display: block;
  margin: 0 auto;
  padding: 0 0 0 0;
  max-width: 600px;
  min-width: 600px;
}
.card {
  display: block;
  margin: 30px 0 20px 0;
  padding: 35px 20px 35px 20px;
  max-width: 600px;
}
#search-form {
  display: block;
}
#search-bar-input {
  border: 2px solid rgb(56, 87, 126);
  border-radius: 3px;
}
.search-button {
  line-height: 1;
  padding: 16px auto;
  border: 2px solid rgb(56, 87, 126);
  background-color: rgb(56, 87, 126);
}
.content {
  display: block;
  margin: 10px 20px 0 20px;
}
.temp-conversion {
  font-size: 18px;
  position: relative;
  top: -12px;
  color: black;
}
#celcius-link,
#fahrenheit-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#celcius-link.active,
#fahrenheit-link.active {
  color: rgb(30, 30, 159);
}
.todays-forecast {
  text-align: center;
}
img#todays-icon {
  max-width: 75px;
  margin: 12px 0 8px 0;
}
#todays-description {
  display: inline-block;
  position: relative;
}
#todays-description:first-letter {
  text-transform: capitalize;
}
.five-day-forecast {
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
}
.forecast-icon {
  color: rgb(68, 105, 153);
  font-size: 26px;
  margin: 5px;
}
